//Let's do this!!!!

//variables

$black: #333
$pale: #d2e1dd
$pink: #c69
$blue: #036
$cream: #FFFDD0
$coconut: #965a3e


$font-stack: 'Andale Mono', monospace
$font-size: 14px


//mixins


//styles
body
  background: $pale
  color: $black
  font-family: $font-stack
  font-size: $font-size

.containerIndex
  height: 100%
  width: 100%
  background: $coconut
  color: $black
  display: flex
  align-items: center
  justify-content: center

#popup
  display: inline-block
  opacity: 0
  position: fixed
  top: 20%
  left: 50%
  padding: 1em
  transform: translateX(-50%)
  background: #fff
  border: 1px solid #888
  box-shadow: 1px 1px .5em 0 rgba(0, 0, 0, .5)
  transition: opacity .3s ease-in-out


#popup.hidden 
  display: none

#popup.fade-in 
  opacity: 1


.banner 
  background: $cream
  padding: 2em
  width: 50%
  margin: 0em auto 10em
  outline: 5px solid $cream
  outline-offset: 5px
  text-align: center

