//Let's do this!!!!

//variables

$black: #333
$pale: #d2e1dd
$pink: #c69
$blue: #036
$white: #fff
$smoke:#f5f5f5
$cream: #FFFDD0
$coconut: #965a3e
$warning: #f2f64e
$xmas-red: #d42426
$xmas-green: #4c991a


$font-stack: 'Playfair Display', serif
$font-kraken: 'Tangerine', cursive
$font-size: 1.3 em


//mixins


//styles
body
  background: $coconut
  color: $cream
  font-family: $font-stack
  font-size: $font-size
  height: 100vh
  width: 100vw
  margin: 0 auto
  padding: 0 auto
h2
  font-size: 3em

section
    text-indent: 50px

.containerIndex
  height: 100vh
  width: 100vw
  // background: $coconut
  color: $black
  display: flex
  align-items: center
  justify-content: center
  background-image: url(images/box-and-bottle.jpg)
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  overflow: hidden

.containerMain
  h2
    font-family: $font-kraken

#popup
  display: inline-block
  opacity: 0
  position: fixed
  top: 8%
  left: 50%
  padding: 1em
  transform: translateX(-50%)
  background: $smoke
  color: $coconut
  border: 1px solid #888
  box-shadow: 1px 1px .5em 0 rgba(0, 0, 0, .5)
  transition: opacity .3s ease-in-out
  input
    color: $coconut
    text-align: center
  button
    color: $coconut

#popup.hidden 
  display: none

#popup.fade-in 
  opacity: 1

.slim-header
  height: 5rem
  width: 100vw
  text-align: center
  background: $black
  color: $smoke
  display: none
  position: fixed
  font-size: 2em
  z-index: 11
  top: 0
  border-bottom: 1px solid $smoke
  p
    margin: 1rem 4rem 3rem 4rem
    font-family: $font-kraken

  p::before, p::after
    content: url(images/rum-logo.png)
    margin: 0rem 3rem


.banner 
  background-image: url(images/ink_2.png)
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  color: $smoke
  padding: 2em
  outline: 8px solid $coconut
  outline-offset: -20px
  display: flex
  align-items: center
  justify-content: center
  img 
    height: 14rem


.banner-2
  background: $cream
  padding: 2em
  width: 50%
  outline: 5px solid $coconut
  outline-offset: 5px
  opacity: 0.9
  text-align: center
  span
    font-family: $font-kraken
    font-weight: 550
  h2
    font-size: 1.2em
    font-weight: 300


.about
  padding: 5rem 7rem 
  font-stack: 3em
  height: 40rem
  line-height: 40px
  background: $black
  display: grid
  grid-template-columns: 3fr 1fr
  strong
    color: $smoke
    text-shadow: 2px 2px #333
  h2
    text-align: center
  img 
    height: 17rem
    float: right
    shape-outside: polygon(40.5% 3px, 92.00% 97.26%, 66.2% 103.37%, 44.02% 87.11%, 15.39% 91.92%, -2.95% 63.6%, -11px 33.55%, 13.08% 10.88%)

.adSide
  // padding: 1rem
  // margin: 0rem 0rem 1rem 2.5rem
  // a 
  //   color: $smoke

.detail
  // color: $white
  // form
  //   background-image: radial-gradient(circle, $coconut, $black)
  //   padding: 1rem .5rem
  //   border: 1px solid $smoke

.conquito_recipes
  display: grid
  grid-template-columns: 2fr 1.5fr
  strong 
    color: $smoke
    text-shadow: 2px 2px $black


.recipe
  padding: 3rem 
  outline: 8px solid $smoke
  outline-offset: -20px

.traditional
  background-image: url(images/pouring.jpg)
  background-position: center
  background-size: cover
  background-repeat: no-repeat

.vegan
  background-image: url(images/coconut_and_cups.jpg)
  background-position: center
  background-size: cover
  background-repeat: no-repeat

.the-product
  height: 37rem
  padding: 4rem 6rem 3rem 6rem
  background: $white
  overflow: hidden
  color: $black
  div 
    float: right
  img 
    height: 28rem
    float: left
    shape-outside: polygon(88.27% 72px, 98.03% 36.77%, 100.35% 91.54%, 60.98% 96.93%, 15.39% 91.92%, 29.42% 2.89%, 251px -4.83%, 86.96% 1.5%)
 

.sign-up
  height: 13rem
  background-image: url(images/three_cups.jpg)
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  overflow: hidden

footer
  height: 6rem
  background: $cream
  color: $black
  background-image: url(images/kraken.png)
  background-position: 95% 5%
  background-size: cover
  background-repeat: no-repeat
  padding: 3rem
  
//    Ad (Flip Card)

.cardGroup 
  display: block
  width: 220px
  height: 200px
  position: relative
  margin-bottom: 30px

.card 
  display: block
  width: 100%
  height: 100%

.cardGroup img 
  width: 100%
  height: 100%
  position: absolute
  display: block

.cardGroup .detail 
  display: block
  width: 100%
  height: 100%
  position: absolute
  // background: #fff
  top: 0

label
  float: left

/*  CSS3 Flip */  
.cardGroup.flip 
  -webkit-perspective: 800px
  -moz-perspective: 800px
  -ms-perspective: 800px
  -o-perspective: 800px
  perspective: 800px

.cardGroup.flip .card 
  -webkit-transition: -webkit-transform 1s
  -moz-transition: -moz-transform 1s
  -ms-transition: -ms-transform 1s
  -o-transition: -o-transform 1s
  transition: transform 1s
  -webkit-transform-style: preserve-3d
  -moz-transform-style: preserve-3d
  -ms-transform-style: preserve-3d
  -o-transform-style: preserve-3d
  transform-style: preserve-3d

.cardGroup.flip .detail, .cardGroup.flip .theFlip 
  -webkit-transform: rotateY(-180deg)
  -moz-transform: rotateY(-180deg)
  -ms-transform: rotateY(-180deg)
  -o-transform: rotateY(-180deg)
  transform: rotateY(-180deg)

.cardGroup.flip canvas, .cardGroup.flip .detail 
  -webkit-backface-visibility: hidden
  -moz-backface-visibility: hidden
  -ms-backface-visibility: hidden
  -o-backface-visibility: hidden
  backface-visibility: hidden

// -------------   Offer  -------------------

.containerOffer
  background: $smoke
  color: $black
  height: 100vh
  width: 100vw
  display: grid
  grid-template-columns: 1fr 1.5fr
  img
    height: 100%
    width: 100%

.offer_left
  padding: 2rem 4rem


.offer_right
  -webkit-clip-path: circle(50.2% at 65% 64%)
  clip-path: circle(50.2% at 65% 64%)

// ^^^^^^^^^^^   Media Queries  >>>>>>>>>>>>>>>>>>>>>

@media screen and (max-width: 800px) 

  p::before
    display: none

  .the-product
    img
      height: 20rem

@media screen and (max-width: 600px) 

  p::after
    display: none

  .slim-header
    font-size: 1.5em
    height: 4rem

  .adSide
    display: none
  .about
    img 
      height: 13rem

  .conquito_recipes
    grid-template-columns: 1fr

  .the-product
    img
      height: 17rem

@media screen and (max-width: 400px) 

  p::after
    display: none

  .slim-header
    font-size: 1.1em
    height: 3rem

