//Let's do this!!!!

//variables

$black: #333
$pale: #d2e1dd
$pink: #c69
$blue: #036
$cream: #FFFDD0
$coconut: #965a3e


$font-stack: 'Andale Mono', monospace
$font-size: 14px


//mixins


//styles
body
  background: $pale
  color: $black
  font-family: $font-stack
  font-size: $font-size

.containerIndex
  height: 100%
  width: 100%
  background: $coconut
  color: $black
  display: flex
  align-items: center
  justify-content: center


.banner 
  background: $cream
  padding: 2em
  width: 50%
  margin: 0em auto 10em
  outline: 5px solid $cream
  outline-offset: 5px
  text-align: center

